body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font);
    font-weight: 500;
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
}

@media (width < 740px) {
    .burger-expanded body {
        background-color: #0D25FF;
        background-image: url("../vectors/menu.svg");
        background-size: 740px 900px;
        background-repeat: no-repeat;
        background-position: center top;
    }
}
