.carousel {

}

/* Довольно запарно выключать слайдер на десктопах скриптом.
   Проще перебить пару стилей:
 */
.carousel--css-disable-on-desktop {

}

@media (740px <= width) {

    .carousel--css-disable-on-desktop {

    }
        .carousel--css-disable-on-desktop .carousel__widget .swiper {
            overflow: visible;
        }
            .carousel--css-disable-on-desktop .carousel__widget .swiper-wrapper {
                height: auto !important;
                transform: none !important;
            }
                .carousel--css-disable-on-desktop .swiper-slide {
                    width: auto !important;
                    margin: 0 !important;
                }

        .carousel--css-disable-on-desktop .carousel__pagination {
            display: none;
        }
}




/* Default bullets */

@media (740px <= width) {

    .carousel__pagination {
        display: none;
    }
}

@media (width < 740px) {

    .carousel--css-default-bullets .carousel__pagination {
        margin-top: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* На случай типа fraction: */
        font-size: 15px;
        line-height: 20px;
        color: currentColor;
        text-align: center;
    }
        .carousel--css-default-bullets .carousel__bullet {
            flex-shrink: 0;
            width: 28px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
            .carousel--css-default-bullets .carousel__bullet::after {
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: #666666;
            }

            .carousel--css-default-bullets .carousel__bullet--current::after {
                background-color: currentColor;
            }

    .carousel--css-default-bullets.carousel--not-enough-slides .carousel__pagination {
        display: none;
    }
}



/* Default arrows */

.carousel--css-default-arrow {
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
}
    .carousel--css-default-arrow .carousel__widget {

    }
        .carousel--css-default-arrow .swiper {

        }
            .carousel--css-default-arrow .swiper-wrapper {

            }

    .carousel--css-default-arrow .carousel__button {
        position: absolute;
        top: 50%;
        width: 70px;
        height: 70px;
        margin-top: calc(-35px - 19px); /* 19px высота точек */
        padding: 0;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--action-color);
        border-radius: 50%;
        cursor: pointer;
        transition: background-color var(--transition-hover);
    }

    .carousel--css-default-arrow .carousel__button:hover {
        background-color: var(--action-color-hover);
        color: #0D25FF;
    }

    .carousel--css-default-arrow .carousel__button--disabled,
    .carousel--css-default-arrow .carousel__button--disabled:hover {
        background-color: var(--action-color);
        opacity: 10%;
        cursor: default;
        transition: none;
    }

    .carousel--css-default-arrow .carousel__button--prev {
        left: 0;
    }

    .carousel--css-default-arrow .carousel__button--next {
        right: 0;
    }
        .carousel--css-default-arrow .carousel__chevron {
            vertical-align: top;
            fill: #FFFFFF;
        }



.carousel--css-default-arrow.carousel--not-enough-slides .carousel__button {
    display: none;
}


@media (1850px <= width) {

    .carousel--css-default-arrow {
        padding-left: 50px;
        padding-right: 50px;
    }
        .carousel--css-default-arrow .carousel__button--prev {
            left: -74px;
        }

        .carousel--css-default-arrow .carousel__button--next {
            right: -74px;
        }
}


@media (width < 740px) {

    .carousel--css-default-arrow {
        padding-left: 0;
        padding-right: 0;
    }
        .carousel--css-default-arrow .carousel__button {
            display: none;
        }
}



/* Portfolio on desktop */

@media (740px <= width) {

    .carousel--css-skin-full-portfolio-on-desktop .carousel {

    }
        .carousel--css-skin-full-portfolio-on-desktop .carousel__widget {

        }
            .carousel--css-skin-full-portfolio-on-desktop .carousel__widget .swiper {

            }
                .carousel--css-skin-full-portfolio-on-desktop .carousel__widget .swiper-wrapper {
                    display: grid;
                    grid-template-columns: repeat(6, 162px); /* Default to 3 items per row */
                    gap: 0 42px;
                    justify-content: center;
                    padding-top: 69px;
                }
                    .carousel--css-skin-full-portfolio-on-desktop .swiper-slide {
                        display: flex;
                        margin-top: -69px !important;
                    }

                    .carousel--css-skin-full-portfolio-on-desktop .swiper-slide:nth-child(5n+1),
                    .carousel--css-skin-full-portfolio-on-desktop .swiper-slide:nth-child(5n+2),
                    .carousel--css-skin-full-portfolio-on-desktop .swiper-slide:nth-child(5n+3) {
                        grid-column: span 2;
                    }

                    .carousel--css-skin-full-portfolio-on-desktop .swiper-slide:nth-child(5n+4),
                    .carousel--css-skin-full-portfolio-on-desktop .swiper-slide:nth-child(5n+5) {
                        grid-column: span 3;
                    }
                        .carousel--css-skin-full-portfolio-on-desktop .swiper-slide:nth-child(5n+4)::before,
                        .carousel--css-skin-full-portfolio-on-desktop .swiper-slide:nth-child(5n+5)::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            display: block;
                            width: 366px;
                            height: 422px;
                            background-image: url("../vectors/project-frame.svg");
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center center;
                        }

                    .carousel--css-skin-full-portfolio-on-desktop .swiper-slide:nth-child(5n+4) {
                        justify-content: flex-end;
                    }
                        .carousel--css-skin-full-portfolio-on-desktop .swiper-slide:nth-child(5n+4)::before {
                            right: 408px;
                        }

                    .carousel--css-skin-full-portfolio-on-desktop .swiper-slide:nth-child(5n+5) {
                        justify-content: flex-start;
                    }
                        .carousel--css-skin-full-portfolio-on-desktop .swiper-slide:nth-child(5n+5)::before {
                            left: 408px;
                        }

    .carousel--css-skin-full-portfolio-on-desktop .carousel__pagination {
        display: none;
    }
}



@media (740px <= width) {

    .carousel--css-skin-short-portfolio-on-desktop .carousel {

    }
        .carousel--css-skin-short-portfolio-on-desktop .carousel__widget {
            overflow: hidden;
        }
            .carousel--css-skin-short-portfolio-on-desktop .carousel__widget .swiper {
                margin-left: -500px;
                margin-right: -500px;
            }
                .carousel--css-skin-short-portfolio-on-desktop .carousel__widget .swiper-wrapper {
                    width: 1510px !important;
                    height: 647px !important;
                    margin-left: auto;
                    margin-right: auto;
                }
                    .carousel--css-skin-short-portfolio-on-desktop .swiper-slide {
                        position: absolute;
                    }

                    .carousel--css-skin-short-portfolio-on-desktop .swiper-slide--01 {
                        left: 0;
                        bottom: 0;
                    }

                    .carousel--css-skin-short-portfolio-on-desktop .swiper-slide--02 {
                        left: 285px;
                        top: 164px;
                    }

                    .carousel--css-skin-short-portfolio-on-desktop .swiper-slide--03 {
                        left: 570px;
                        top: 0;
                    }

                    .carousel--css-skin-short-portfolio-on-desktop .swiper-slide--04 {
                        left: 570px;
                        bottom: 0;
                    }

                    .carousel--css-skin-short-portfolio-on-desktop .swiper-slide--05 {
                        left: 855px;
                        top: 164px;
                    }

                    .carousel--css-skin-short-portfolio-on-desktop .swiper-slide--06 {
                        left: 1140px;
                        top: 0;
                    }
                        .carousel--css-skin-short-portfolio-on-desktop .swiper-slide--06::after {
                                content: "";
                                position: absolute;
                                top: 100%;
                                margin-top: 7px;
                                display: block;
                                width: 370px;
                                height: 320px;
                                background-image: url("../vectors/task-frame-laptop.svg");
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center center;
                        }

                    .carousel--css-skin-short-portfolio-on-desktop .swiper-slide--07 {
                        display: none;
                    }

    .carousel--css-skin-short-portfolio-on-desktop .carousel__pagination {
        display: none;
    }



    @media (1850px <= width) {

        .carousel--css-skin-short-portfolio-on-desktop .carousel {

        }
            .carousel--css-skin-short-portfolio-on-desktop .carousel__widget {
                /*overflow: hidden;*/
            }
                .carousel--css-skin-short-portfolio-on-desktop .carousel__widget .swiper {
                    margin-left: -658px; /* не совсем по-цвентру */
                    margin-right: -500px;
                }
                    .carousel--css-skin-short-portfolio-on-desktop .carousel__widget .swiper-wrapper {
                        width: 1671px !important;
                        height: 901px !important;
                        /*margin-left: auto;*/
                        /*margin-right: auto;*/
                    }
                        .carousel--css-skin-short-portfolio-on-desktop .swiper-slide {
                            /*position: absolute;*/
                        }

                        .carousel--css-skin-short-portfolio-on-desktop .swiper-slide--01 {
                            left: 319px;
                            top: 185px;
                            bottom: auto;
                        }
                            .carousel--css-skin-short-portfolio-on-desktop .swiper-slide--01::after {
                                content: "";
                                position: absolute;
                                top: 156px;
                                right: 318px;
                                margin-top: 29px;
                                display: block;
                                width: 399px;
                                height: 346px;
                                background-image: url("../vectors/task-frame-monitor.svg");
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center center;
                            }

                        .carousel--css-skin-short-portfolio-on-desktop .swiper-slide--02 {
                            left: 638px;
                            top: 0;
                            bottom: auto;
                        }

                        .carousel--css-skin-short-portfolio-on-desktop .swiper-slide--03 {
                            left: 638px;
                            top: 370px;
                        }

                        .carousel--css-skin-short-portfolio-on-desktop .swiper-slide--04 {
                            left: 956px;
                            bottom: auto;
                            top: 185px;
                        }

                        .carousel--css-skin-short-portfolio-on-desktop .swiper-slide--05 {
                            left: 956px;
                            bottom: 0;
                            top: auto;
                        }

                        .carousel--css-skin-short-portfolio-on-desktop .swiper-slide--06 {
                            left: 1274px;
                            top: 0;
                        }
                            .carousel--css-skin-short-portfolio-on-desktop .swiper-slide--06::after {
                                    /*content: "";*/
                                    /*position: absolute;*/
                                    top: 100%;
                                    margin-top: 24px;
                                    /*display: block;*/
                                    width: 399px;
                                    height: 346px;
                                    background-image: url("../vectors/task-frame-monitor.svg");
                                    /*background-size: contain;*/
                                    /*background-repeat: no-repeat;*/
                                    /*background-position: center center;*/
                            }

                        .carousel--css-skin-short-portfolio-on-desktop .swiper-slide--07 {
                            display: block;
                            left: 319px;
                            bottom: 0;
                        }
    }
}


/* Portfolio on smartphone */

@media (width < 740px) {

    .carousel--css-skin-portfolio-on-smartphone .carousel {

    }
        .carousel--css-skin-portfolio-on-smartphone .carousel__widget {

        }
            .carousel--css-skin-portfolio-on-smartphone .carousel__widget .swiper {
                overflow: visible; /* будем обрезать парой уровней выше, у границ экрана, а не контейнера */
            }
                .carousel--css-skin-portfolio-on-smartphone .swiper-wrapper {

                }
                    .carousel--css-skin-portfolio-on-smartphone .swiper-slide {

                    }
                    .carousel--css-skin-portfolio-on-smartphone .swiper-slide {
                        display: flex;
                        justify-content: center;
                    }
}



/* Stories */

@media (740px <= width) {

    .carousel--css-skin-stories {

    }
        .carousel--css-skin-stories .carousel__widget {

        }
            .carousel--css-skin-stories .swiper {

            }
                .carousel--css-skin-stories .swiper-wrapper {

                }
                    .carousel--css-skin-stories .swiper-slide {
                        padding-top: 40px;
                        padding-bottom: 40px;
                    }

                        .carousel--css-skin-stories .swiper-slide-active {
                            opacity: 100%;
                        }
                            .carousel--css-skin-stories .thumbnail {
                                transition: transform 1200ms var(--ease-out-quint);
                            }

                            .carousel--css-skin-stories .swiper-slide-active .thumbnail {
                                transform: scale(130%);
                            }
}



@media (width < 740px) {

    .carousel--css-skin-stories {

    }
        .carousel--css-skin-stories .carousel__widget {

        }

        @media (min-width: 450px) {
            .carousel--css-skin-stories .carousel__widget {
                padding-left: 16px;
                padding-right: 16px;
            }
        }

            .carousel--css-skin-stories .swiper {

            }
                .carousel--css-skin-stories .swiper-wrapper {

                }
                    .carousel--css-skin-stories .swiper-slide {

                    }
                        .carousel--css-skin-stories .swiper-slide-active {

                        }
                            .carousel--css-skin-stories .thumbnail {

                            }

                            .carousel--css-skin-stories .swiper-slide-active .thumbnail {

                            }
}


/* Folder */

.carousel--css-skin-folder {

}
    .carousel--css-skin-folder .carousel__widget {

    }
        .carousel--css-skin-folder .swiper {

        }
            .carousel--css-skin-folder .swiper-wrapper {
                /* Если будем делать бегущую строку: */
                /*transition-timing-function: linear;*/
            }
                .carousel--css-skin-folder .swiper-slide {

                }

                    .carousel--css-skin-folder .swiper-slide-active {

                    }
                        .carousel--css-skin-folder .thumbnail {

                        }

                        .carousel--css-skin-folder .swiper-slide-active .thumbnail {

                        }




@media (width < 740px) {

    .carousel--css-skin-folder {

    }
        .carousel--css-skin-folder .carousel__widget {

        }
            .carousel--css-skin-folder .swiper {
                overflow: visible;
            }
                .carousel--css-skin-folder .swiper-wrapper {
                    /* Если будем делать бегущую строку: */
                    /*transition-timing-function: linear;*/
                }
                    .carousel--css-skin-folder .swiper-slide {

                    }
                        .carousel--css-skin-folder .swiper-slide-active {

                        }
                            .carousel--css-skin-folder .thumbnail {

                            }

                            .carousel--css-skin-folder .swiper-slide-active .thumbnail {

                            }
}




/* Skin Gallery */

.carousel--css-skin-gallery {

}

@media (width < 740px) {

    .carousel--css-skin-gallery {

    }
        .carousel--css-skin-gallery .carousel__widget {

        }
            .carousel--css-skin-gallery .swiper {
                overflow: visible;
            }
                .carousel--css-skin-gallery .swiper-wrapper {

                }
                    .carousel--css-skin-gallery .swiper-slide {

                    }
}


