.contacts {
    position: relative;
    padding-top: 5px;
    padding-bottom: var(--bottom-padding);
    overflow: hidden; /* обрезаем заголовок */
}
    .contacts__wrap {

    }
        .contacts__heading {
            position: absolute;
            left: 50%;
            margin-left: -100px;
            top: 106px;
            margin-top: 0;
            margin-bottom: 0;
            padding: 10px 2000px 14px 100px;
            background-color: #0D25FF;
            font-weight: 600;
            font-size: 40px;
            line-height: 40px;
            color: #FFFFFF;
        }

        .contacts__body {
            display: grid;
            grid-template-columns: repeat(2, 450px);
            justify-content: center;
            gap: 38px;
        }
            .contacts__item {

            }

            .contacts__item--spb {

            }

            .contacts__item--kirovsk {
                margin-top: 202px;
            }
                .contacts__preview {
                    position: relative;
                    width: 420px;
                    height: 364px;
                    clip-path: path("M316 0H104L0 182L104 364H316L420 182L316 0Z");
                }

                .contacts__item--spb .contacts__preview {
                    left: 53px;
                    /*top: 15px;*/
                }

                .contacts__item--kirovsk .contacts__preview {
                    left: -106px;
                    top: -12px;
                }
                    .contacts__image {
                        vertical-align: top;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        background-color: var(--image-fallback);
                    }

                .contacts__sub-heading {
                    margin-top: 5px;
                    margin-bottom: 0;
                    margin-left: -3px;
                    font-weight: bold;
                    font-size: 40px;
                    line-height: 40px;
                    color: #0D25FF;
                }

                .contacts__list {
                    margin-top: 20px;
                }
                    .contacts__channel {
                        position: relative;
                        padding-left: 36px;
                        margin-top: var(--body-line-height);
                    }

                    .contacts__channel:first-child {
                        margin-top: 0;
                    }
                        .contacts__icon {
                            position: absolute;
                            left: 0;
                            top: 2px;
                            vertical-align: top;
                            width: 20px;
                            height: auto;
                            fill: #0F33A9;
                        }

                        .contacts__icon--email {
                            margin-top: 6px;
                        }

                        .contacts__value {
                            font-size: var(--body-font-size);
                            line-height: var(--body-line-height);
                            color: #0F33A9;
                        }



@media (1850px <= width) {

    .contacts {
        /*position: relative;*/
        /*padding-top: 5px;*/
        /*padding-bottom: var(--bottom-padding);*/
        /*overflow: hidden; !* обрезаем заголовок *!*/
    }
        .contacts__wrap {

        }
            .contacts__heading {
                /*position: absolute;*/
                /*left: 50%;*/
                /*margin-left: -100px;*/
                top: 120px;
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
                padding-top: 1px;
                padding-left: 148px;
                padding-bottom: 7px;
                /*background-color: #0D25FF;*/
                /*font-weight: 600;*/
                font-size: 50px;
                line-height: 42px;
                /*color: #FFFFFF;*/
            }

            .contacts__body {
                /*display: grid;*/
                /*grid-template-columns: repeat(2, 450px);*/
                /*justify-content: center;*/
                gap: 60px;
            }
                .contacts__item {

                }

                .contacts__item--spb {

                }

                .contacts__item--kirovsk {
                    margin-top: 202px;
                }
                    .contacts__preview {
                        width: 436px;
                        height: 378px;
                        clip-path: path("M328.038 0H107.962L0 189L107.962 378H328.038L436 189L328.038 0Z");
                    }

                    .contacts__item--spb .contacts__preview {
                        /*left: 53px;*/
                    }

                    .contacts__item--kirovsk .contacts__preview {
                        /*left: -106px;*/
                        /*top: -12px;*/
                    }
                        .contacts__image {
                            /*vertical-align: top;*/
                            /*width: 100%;*/
                            /*height: 100%;*/
                            /*object-fit: cover;*/
                        }

                    .contacts__sub-heading {
                        margin-top: 15px;
                        /*margin-bottom: 0;*/
                        /*margin-left: -3px;*/
                        /*font-weight: bold;*/
                        font-size: 43px;
                        line-height: 43px;
                        /*color: #0D25FF;*/
                    }

                    .contacts__item--spb .contacts__sub-heading {
                        margin-top: 20px;
                    }

                    .contacts__list {
                        margin-top: 20px;
                    }
                        .contacts__channel {
                            /*position: relative;*/
                            /*padding-left: 50px;*/
                            /*margin-top: var(--body-line-height);*/
                        }

                        .contacts__channel:first-child {
                            /*margin-top: 0;*/
                        }
                            .contacts__icon {
                                /*position: absolute;*/
                                /*left: 0;*/
                                /*top: 2px;*/
                                /*vertical-align: top;*/
                                width: 24px;
                                /*height: auto;*/
                                /*fill: #0F33A9;*/
                            }

                            .contacts__icon--email {
                                /*margin-top: 6px;*/
                            }

                            .contacts__value {
                                /*font-size: 22px;*/
                                /*line-height: 27px;*/
                                /*color: #0F33A9;*/
                            }
}



@media (width < 740px) {

    .contacts {
        position: static;
        padding-top: 2px;
        /*padding-bottom: var(--bottom-padding);*/
        /*overflow: hidden; !* обрезаем заголовок *!*/
    }
        .contacts__wrap {

        }
            .contacts__heading {
                position: static;
                /*left: 50%;*/
                margin-left: -200px;
                margin-right: -200px;
                /*top: 106px;*/
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
                padding: 4px 200px 7px;
                /*background-color: #0D25FF;*/
                /*font-weight: 600;*/
                font-size: 30px;
                line-height: 30px;
                /*color: #FFFFFF;*/
                text-align: center;
            }

            .contacts__body {
                display: block;
                flex-direction: column;
                /*grid-template-columns: repeat(2, 450px);*/
                /*justify-content: center;*/
            }
                .contacts__item {
                    display: flex;
                    flex-direction: column;
                }

                .contacts__item--spb {

                }

                .contacts__item--kirovsk {
                    margin-top: 20px;
                }
                    .contacts__preview {
                        position: static;
                        margin-top: 3px;
                        margin-left: auto;
                        margin-right: auto;
                        width: 328px;
                        height: 284px;
                        clip-path: path("M246.781 0H81.219L0 142L81.219 284H246.781L328 142L246.781 0Z");
                    }

                    @media (max-width: 350px) {
                        .contacts__preview {
                            width: 290px;
                            height: 251px;
                            clip-path: path("M218.19 0H71.8095L0 125.5L71.8095 251H218.19L290 125.5L218.19 0Z");
                        }
                    }

                    .contacts__item--spb .contacts__preview {
                        /*left: 53px;*/
                    }

                    .contacts__item--kirovsk .contacts__preview {
                        /*left: -106px;*/
                        /*top: -12px;*/
                    }
                        .contacts__image {
                            /*vertical-align: top;*/
                            /*width: 100%;*/
                            /*height: 100%;*/
                            /*object-fit: cover;*/
                        }

                    .contacts__sub-heading {
                        order: -1;
                        margin: 0 -200px;
                        padding: 4px 200px 7px;
                        /*margin-bottom: 0;*/
                        background-color: #00F0FF;
                        /*font-weight: bold;*/
                        font-size: 30px;
                        line-height: 30px;
                        /*color: #0D25FF;*/
                        text-align: center;
                    }

                    .contacts__list {
                        /*margin-top: 20px;*/
                        max-width: 280px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                        .contacts__channel {
                            /*position: relative;*/
                            /*padding-left: 36px;*/
                            /*margin-top: var(--body-line-height);*/
                        }

                        .contacts__channel:first-child {
                            /*margin-top: 0;*/
                        }
                            .contacts__icon {
                                /*position: absolute;*/
                                /*left: 0;*/
                                top: 1px;
                                /*vertical-align: top;*/
                                /*width: 20px;*/
                                /*height: auto;*/
                                /*fill: #0F33A9;*/
                            }

                            .contacts__icon--email {
                                margin-top: 6px;
                            }

                            .contacts__value {

                                /*color: #0F33A9;*/
                            }
}

