.footer {
    padding-top: 60px;
    padding-bottom: 51px;
    background-color: #0D25FF;
    color: #FFFFFF;
}
    .footer__wrap {
        display: flex;
        align-items: stretch;
        gap: 28px;
    }
        .footer__summary {
            margin-top: 2px;
            width: 257px;
            flex-shrink: 0;
        }
            .footer__branding {

            }

            .footer__address {
                margin-top: 40px;
                font-size: 17px;
                line-height: 25px;
            }

            .footer__legalities {
                margin-top: 41px;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
            }
                .footer__copyright {
                    margin-top: 7px;
                }

        .footer__contains {
            margin-top: 2px;
            flex-grow: 1;
            display: grid;
            grid-template-columns: 218px 172px 1fr;
            align-items: flex-start;
            justify-content: space-between;
            gap: 24px;
        }
            .footer__column {

            }
                .footer__sub-heading {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-weight: bold;
                    font-size: 17px;
                    line-height: 22px;
                    text-transform: uppercase;
                }

                .footer__nav {
                    margin-top: 7px;
                }
                    .footer__link {
                        display: block;
                        width: fit-content;
                        padding-top: 7px;
                        padding-bottom: 7px;
                        font-size: 17px;
                        line-height: 21px;
                        color: #FFFFFF;
                        text-decoration: 1px underline transparent;
                        text-underline-offset: 3px;
                        transition: text-decoration-color var(--transition-hover);
                    }

                    .footer__link:hover {
                        text-decoration-color: currentColor;
                    }

        .footer__addition {
            width: 277px;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
            .footer__phone {
                display: block;
                width: fit-content;
                font-weight: normal;
                font-size: 32px;
                line-height: 32px;
                color: #FFFFFF;
                text-decoration: none;
            }

            .footer__feedback {
                margin-top: 8px;
            }

            .footer__request {
                margin-top: 101px;
                width: 100%;
            }



@media (1850px <= width) {

    .footer {
        /*padding-top: 60px;*/
        /*padding-bottom: 51px;*/
        /*background-color: #0D25FF;*/
        /*color: #FFFFFF;*/
    }
        .footer__wrap {
            /*display: flex;*/
            /*align-items: stretch;*/
            /*gap: 28px;*/
        }
            .footer__summary {
                /*margin-top: 2px;*/
                width: 359px;
                /*flex-shrink: 0;*/
            }
                .footer__branding {

                }

                .footer__address {
                    /*margin-top: 40px;*/
                    /*font-size: 17px;*/
                    /*line-height: 25px;*/
                }

                .footer__legalities {
                    /*margin-top: 41px;*/
                    /*font-weight: 400;*/
                    /*font-size: 12px;*/
                    /*line-height: 21px;*/
                }
                    .footer__copyright {

                    }

            .footer__contains {
                /*margin-top: 2px;*/
                /*flex-grow: 1;*/
                display: grid;
                grid-template-columns: 335px 370px 1fr;
                /*align-items: flex-start;*/
                /*justify-content: space-between;*/
                /*gap: 24px;*/
            }
                .footer__column {

                }
                    .footer__sub-heading {
                        /*margin-top: 0;*/
                        /*margin-bottom: 0;*/
                        /*font-weight: bold;*/
                        /*font-size: 17px;*/
                        /*line-height: 22px;*/
                        /*text-transform: uppercase;*/
                    }

                    .footer__nav {
                        /*margin-top: 7px;*/
                    }
                        .footer__link {
                            /*display: block;*/
                            /*width: fit-content;*/
                            /*padding-top: 7px;*/
                            /*padding-bottom: 7px;*/
                            /*font-size: 17px;*/
                            /*line-height: 21px;*/
                            /*color: #FFFFFF;*/
                            /*text-decoration: 1px underline transparent;*/
                            /*text-underline-offset: 2px;*/
                            /*transition: text-decoration-color var(--transition-hover);*/
                        }

                        .footer__link:hover {
                            /*text-decoration-color: currentColor;*/
                        }

            .footer__addition {
                /*width: 277px;*/
                /*flex-shrink: 0;*/
                /*display: flex;*/
                /*flex-direction: column;*/
                /*align-items: flex-start;*/
            }
                .footer__phone {
                    /*display: block;*/
                    /*width: fit-content;*/
                    /*font-weight: normal;*/
                    /*font-size: 32px;*/
                    /*line-height: 32px;*/
                    /*color: #FFFFFF;*/
                    /*text-decoration: none;*/
                }

                .footer__feedback {
                    /*margin-top: 8px;*/
                }

                .footer__request {
                    margin-top: 55px;
                }
}




@media (width < 740px) {

    .footer {
        padding-top: 10px;
        padding-bottom: 21px;
        /*background-color: #0D25FF;*/
        /*color: #FFFFFF;*/
    }
        .footer__wrap {
            position: relative;
            display: block;
            /*align-items: stretch;*/
            /*gap: 28px;*/
        }
            .footer__summary {
                /*margin-top: 2px;*/
                width: auto;
                /*flex-shrink: 0;*/
            }
                .footer__branding {
                    margin-left: auto;
                    margin-right: auto;
                }

                .footer__address {
                    /*margin-top: 40px;*/
                    /*font-size: 17px;*/
                    /*line-height: 25px;*/
                    margin-top: 20px;
                    text-align: center;
                }

                .footer__legalities {
                    margin-top: 190px;
                    text-align: center;
                    /*font-weight: 400;*/
                    /*font-size: 12px;*/
                    /*line-height: 21px;*/
                }
                    .footer__copyright {
                        margin-top: 16px;
                    }

            .footer__contains {
                display: none;
            }

            .footer__addition {
                width: auto;
                /*flex-shrink: 0;*/
                /*display: flex;*/
                /*flex-direction: column;*/
                /*align-items: flex-start;*/
            }
                .footer__phone {
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;
                    bottom: 110px;
                    /*display: block;*/
                    /*width: fit-content;*/
                    /*font-weight: normal;*/
                    font-size: 22px;
                    line-height: 22px;
                    /*color: #FFFFFF;*/
                    /*text-decoration: none;*/
                }

                .footer__feedback {
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;
                    width: fit-content;
                    bottom: 70px;
                }

                .footer__request {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 168px;
                    width: fit-content;
                    margin-left: auto;
                    margin-right: auto;
                }
}


