.label {
    display: block; /* In case it is being followed by button or smaller input. We want it to be on a new line. */
    width: fit-content; /* Specify clickable area */
    padding-bottom: 6px;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #0F33A9;
}



@media (1850px <= width) {

    .label {
        padding-bottom: 13px;
        font-weight: inherit;
        font-size: 22px;
        line-height: 28px;
    }
}
