.product {
    pointer-events: auto;
    display: block;
    width: 342px;
    height: 394px;
    clip-path: path("M342 99L171 0L0 99V295L171 394L342 295V99Z");
}
    .product__inner {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 1400ms var(--ease-out-quint);
    }

    .product:hover .product__inner {
        transform: rotateY(180deg);
    }
        .product__preview {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }
            .product__image {
                vertical-align: top;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .product__preview::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background-image: var(--hex-gradient);
                transition: opacity var(--transition-hover);
            }

        .product__side {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #FFFFFF;
            text-align: center;
            backface-visibility: hidden;
            clip-path: path("M342 99L171 0L0 99V295L171 394L342 295V99Z");
        }

        .product__side--front {
            transform: rotateX(0deg);
            justify-content: flex-end;
        }
            .product__front-heading {
                position: relative;
                margin-top: 0;
                margin-bottom: 64px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                min-height: 72px;
                font-weight: bold;
                font-size: 17px;
                line-height: 24px;
                color: #FFFFFF;
                text-align: center;
            }


        .product__side--back {
            padding: 70px 16px 52px;
            transform: rotateY(180deg);
        }
            .product__side--back .product__image {
                transform: rotateY(180deg);
            }

            .product__overlay {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: block;
                background-color: rgb(0 74 129 / 80%);
            }

            .product__heading {
                position: relative; /* выше .product__back::before */
                margin-top: 0;
                margin-bottom: 0;
                font-weight: bold;
                font-size: 17px;
                line-height: 24px;
            }

            .product__description {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative; /* выше .product__back::before */
                font-size: 15px;
                line-height: 20px;
            }

            .product__more {
                position: relative; /* выше .product__back::before */
                margin-top: 16px;
                margin-left: auto;
                margin-right: auto;
                width: fit-content;
                border: 1px solid currentColor;
                border-radius: 3px;
                padding: 7px 17px;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
            }

            .product__more:hover {
                background-color: rgb(255 255 255 / 20%);
            }



    .product__inner:hover .product__side--front {

    }
    .product__inner:hover .product__side--back {
        transform: rotateY(179deg);
    }


@media (1850px <= width) {

    .product {
        width: 396px;
        height: 456px;
    }
        .product__side {
            clip-path: path("M395.188 114L198 0L0.680599 114L0.672852 342L198 456L395.25 342L395.188 114Z");
        }

        .product__side--front {

        }
            .product__front-heading {
                font-size: 30px;
                line-height: 37px;
            }

        .product__side--back {

        }
            .product__heading {
                font-size: 22px;
                line-height: 27px;
            }

            .product__description {
                margin-top: 14px;
                font-size: 20px;
                line-height: 24px;
            }

            .product__more {
                margin-top: 18px;
            }
}



@media (width < 740px) {

    .product {
        width: 274px;
        height: 318px;
    }
        .product__inner {
            transform-style: unset;
            transition: none;
        }

        .product:hover .product__inner {
            transform: none;
        }


        .product__side {
            clip-path: path("M274 80L137 0L0 80V238L137 318L274 238V80Z");
        }

        .product__side--front {

        }
            .product__front-heading {
                font-size: 24px;
                line-height: 30px;
            }

        .product__side--back {
            display: none;
        }
            /* Как могло бы быть: */
            /*.product__heading {*/
            /*    font-size: 18px;*/
            /*    line-height: 22px;*/
            /*}*/

            /*.product__description {*/
            /*    margin-top: 8px;*/
            /*    font-size: 13px;*/
            /*    line-height: 16px;*/
            /*}*/

            /*.product__more {*/
            /*    margin-top: 10px;*/
            /*    font-size: 13px;*/
            /*    line-height: 20px;*/
            /*}*/
}

