:root {
    --font: "Montserrat";
    --body-font-size: 22px;
    --body-line-height: 28px;
    --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
    --transition-hover: 100ms ease;
    /*--transition-show: 1200ms var(--ease-out-quint);*/
    --image-fallback: #DFF3FF;
    --container-padding: 24px;
    --action-color: #0D25FF;
    --action-color-hover: #00F0FF;
    --input-border: #B3B3B3;
    --input-border-hover-and-focus: var(--action-color-hover);
    --placeholder-color: #C9C9C9;
    --disabled-background: #FAFAFA;
    --disabled-color: #C9C9C9;
    --error: #FF0033;
    --top-padding: 42px;
    --bottom-padding: calc(var(--top-padding) * 2);
    --header-height: 140px;
    --tiles-gap: 20px;
}

@media (1850px <= width) {
    :root {
        --container-padding: 60px;
        --top-padding: 58px;
        --tiles-gap: 24px;
    }
}

@media (width < 740px) {
    :root {
        --header-height: 90px;
        --container-padding: 16px;
        --top-padding: 32px;
        --body-font-size: 17px;
        --body-line-height: 24px;
        --tiles-gap: 12px;
    }
}
