.solutions {
    padding-top: 3px;
}
    .solutions__head {
        position: relative;
        background-image: url("../images/solutions/solutions-desktop-background@1x.jpg");
        background-size: 1488px 400px;
        background-repeat: no-repeat;
        background-position: center top;
    }

    /* Возможное растягивание картинки для диапазона 1488-1849, но пока не понятно лучше с ним или без: */
    /*@media (1488px <= width < 1850px) {*/
    /*    .solutions__head {*/
    /*        background-size: 100% auto;*/
    /*    }*/
    /*}*/

    @media (min-resolution: 1.5dppx) {
        .solutions__head {
            background-image: url("../images/solutions/solutions-desktop-background@2x.jpg");
        }
    }

        .solutions__features {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
            .solutions__category {
                padding: 38px 70px;
                font-weight: 600;
                font-size: 22px;
                line-height: 27px;
                color: #00F0FF;
                text-decoration: 1.75px underline transparent;
                text-underline-offset: 2px;
                transition: text-decoration-color var(--transition-hover);
                text-transform: uppercase;
            }

            .solutions__category:hover {
                text-decoration-color: currentColor;
            }

            .solutions__category--left {
                text-align: right;
            }

            .solutions__category--right {

            }

        .solutions__head::after {
            content: "";
            position: absolute;
            left: 50%;
            margin-left: -30px;
            top: 42px;
            width: 60px;
            height: 46px;
            background-image: url("../vectors/solutions-angles.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }

    .solutions__intro {
        margin-top: 242px;
        display: flex;
        flex-direction: column;
    }
        .solutions__heading {
            margin-top: 31px;
            margin-bottom: 0;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            font-weight: 600;
            font-size: 40px;
            line-height: 49px;
            text-align: center;
        }

        .solutions__description {
            order: -1;
            max-width: 890px;
            margin: 0 auto;
            font-size: 22px;
            line-height: 28px;
            text-align: center;
        }
            .solutions__heading-line-break {

            }

    .solutions__list {
        margin-top: -320px;
        display: grid;
        grid-template-columns: repeat(6, 164px); /* Default to 3 items per row */
        gap: 0 41px;
        justify-content: center;
        padding-top: 427px;
        padding-bottom: 306px;
        background-image: url("../vectors/solutions-skeleton.svg");
        background-size: 1780px 2550px;
        background-repeat: no-repeat;
        background-position: center top;
    }
        .solutions__item {
            display: flex;
            margin-top: -74px;
        }

        .solutions__item:nth-child(5n+1),
        .solutions__item:nth-child(5n+2),
        .solutions__item:nth-child(5n+3) {
            grid-column: span 2;
        }

        .solutions__item:nth-child(5n+4),
        .solutions__item:nth-child(5n+5) {
            grid-column: span 3;
        }

            .solutions__item:nth-child(5n+4) {
                justify-content: flex-end;
            }
                .solutions__item:nth-child(5n+4)::before {
                    right: 408px;
                }

            .solutions__item:nth-child(5n+5) {
                justify-content: flex-start;
            }
                .solutions__item:nth-child(5n+5)::before {
                    left: 408px;
                }


        .solutions__item:nth-child(1),
        .solutions__item:nth-child(2),
        .solutions__item:nth-child(3) {
            position: relative;
            top: 2px;
        }

    .solutions__sub-section {
        margin-top: -251px;
    }
        .solutions__sub-head {
            display: flex;
            flex-direction: column;
        }
            .solutions__sub-heading {
                margin-top: 34px;
                margin-bottom: 0;
                max-width: 700px;
                margin-left: auto;
                margin-right: auto;
                font-weight: 600;
                font-size: 40px;
                line-height: 49px;
                text-align: center;
            }

            .solutions__sub-description {
                order: -1;
                max-width: 880px;
                margin-left: auto;
                margin-right: auto;
                font-size: 22px;
                line-height: 28px;
                text-align: center;
            }

        .solutions__sub-list {
            margin-top: -86px;
            padding-top: 187px;
            padding-bottom: 106px;
            display: grid;
            grid-template-columns: repeat(2, 372px);
            justify-content: center;
            gap: 41px;
            background-image: url("../vectors/solutions-additional-skeleton.svg"), linear-gradient(#FFFFFF, #FFFFFF 20%, #0099FF);
            background-size: 1488px 921px, auto auto;
            background-repeat: no-repeat;
            background-position: center top;
        }
            .solutions__sub-item {

            }



@media (1850px <= width) {

    .solutions {
        /*padding-top: 3px;*/
    }
        .solutions__head {
            /*position: relative;*/
            /*background-image: url("../images/solutions/solutions-desktop-background@1x.jpg");*/
            background-size: 1920px 516px;
            /*background-repeat: no-repeat;*/
            /*background-position: center top;*/
        }
            .solutions__features {
                /*display: grid;*/
                /*grid-template-columns: repeat(2, minmax(0, 1fr));*/
            }
                .solutions__category {
                    padding: 50px 70px;
                    /*font-weight: 600;*/
                    font-size: 30px;
                    line-height: 37px;
                    /*color: #00F0FF;*/
                    /*text-transform: uppercase;*/
                }

                .solutions__category--left {
                    /*text-align: right;*/
                }

                .solutions__category--right {

                }

            .solutions__head::after {
                /*content: "";*/
                /*position: absolute;*/
                /*left: 50%;*/
                margin-left: -36px;
                top: 60px;
                width: 72px;
                height: 55px;
                /*background-image: url("../vectors/solutions-angles.svg");*/
                /*background-size: contain;*/
                /*background-repeat: no-repeat;*/
                /*background-position: center center;*/
            }

        .solutions__intro {
            margin-top: 258px;
            /*display: flex;*/
            /*flex-direction: column;*/
        }
            .solutions__heading {
                margin-top: 37px;
                /*margin-bottom: 0;*/
                /*font-weight: 600;*/
                max-width: 700px;
                font-size: 50px;
                line-height: 58px;
                /*text-align: center;*/
            }

            .solutions__description {
                /*order: -1;*/
                max-width: 830px;
                /*margin: 0 auto;*/
                /*font-size: 22px;*/
                /*line-height: 28px;*/
                /*text-align: center;*/
            }
                .solutions__heading-line-break {

                }

        .solutions__list {
            margin-top: -354px;
            grid-template-columns: repeat(6, 174px); /* Default to 3 items per row */
            gap: 0 47px;
            padding-top: 456px;
            padding-bottom: 385px;
            background-size: 1920px 2751px;
        }
            .solutions__item {
                /*display: flex;*/
                /*margin-top: -74px !important;*/
            }

            .solutions__item:nth-child(5n+1),
            .solutions__item:nth-child(5n+2),
            .solutions__item:nth-child(5n+3) {
                /*grid-column: span 2;*/
            }

            .solutions__item:nth-child(5n+4),
            .solutions__item:nth-child(5n+5) {
                /*grid-column: span 3;*/
            }

                .solutions__item:nth-child(5n+4) {
                    /*justify-content: flex-end;*/
                }
                    .solutions__item:nth-child(5n+4)::before {
                        /*right: 408px;*/
                    }

                .solutions__item:nth-child(5n+5) {
                    /*justify-content: flex-start;*/
                }
                    .solutions__item:nth-child(5n+5)::before {
                        /*left: 408px;*/
                    }


            .solutions__item:nth-child(1),
            .solutions__item:nth-child(2),
            .solutions__item:nth-child(3) {
                top: 3px;
            }

        .solutions__sub-section {
            margin-top: -328px;
        }
            .solutions__sub-head {
                /*display: flex;*/
                /*flex-direction: column;*/
            }
                .solutions__sub-heading {
                    margin-top: 44px;
                    /*margin-bottom: 0;*/
                    max-width: 800px;
                    font-size: 50px;
                    line-height: 58px;
                    /*text-align: center;*/
                }

                .solutions__sub-description {
                    /*order: -1;*/
                    max-width: 830px;
                    /*margin-left: auto;*/
                    /*margin-right: auto;*/
                    /*font-size: 22px;*/
                    /*line-height: 28px;*/
                    /*text-align: center;*/
                }

            .solutions__sub-list {
                margin-top: -80px;
                padding-top: 206px;
                padding-bottom: 110px;
                /*display: grid;*/
                grid-template-columns: repeat(2, 396px);
                /*justify-content: center;*/
                gap: 60px;
                /*background-image: url("../vectors/solutions-additional-skeleton.svg"), linear-gradient(#FFFFFF, #FFFFFF 20%, #0099FF);*/
                background-size: 1604px 993px, auto auto;
                /*background-repeat: no-repeat;*/
                /*background-position: center top;*/
            }
                .solutions__sub-item {

                }
}



@media (width < 740px) {

    .solutions {
        /*padding-top: 3px;*/
    }
        .solutions__head {
            padding-top: 416px;
            padding-bottom: 118px;
            /*position: relative;*/
            background-color: #C0E5FF;
            background-image: url("../images/solutions/solutions-smartphone@1x.jpg");
            background-size: 456px 460px;
            /*background-repeat: no-repeat;*/
            /*background-position: center top;*/
        }

        @media (min-resolution: 1.5dppx) {
            .solutions__head {
                background-image: url("../images/solutions/solutions-smartphone@2x.jpg");
            }
        }

            .solutions__features {
                display: none;
            }

            .solutions__head::after {
                display: none;
            }

        .solutions__intro {
            margin-top: 0;
            display: block;
            /*flex-direction: column;*/
        }
            .solutions__heading {
                margin-top: 0;
                /*margin-bottom: 0;*/
                /*max-width: 600px;*/
                /*margin-left: auto;*/
                /*margin-right: auto;*/
                /*font-weight: 600;*/
                font-size: 30px;
                line-height: 37px;
                color: #0D25FF;
                /*text-align: center;*/
            }

            .solutions__description {
                /*order: -1;*/
                /*max-width: 890px;*/
                /*margin: 0 auto;*/
                margin-top: 40px;
                font-size: 17px;
                line-height: 24px;
                /*text-align: center;*/
            }
                .solutions__heading-line-break {

                }

        .solutions__list {
            position: relative;
            margin-top: 0;
            display: block;
            background-color: #0D25FF;
            padding: 30px var(--container-padding);
            background-image: none;
        }
            .solutions__list::before,
            .solutions__list::after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                width: 0;
                border-left: 94px solid transparent;
                border-right: 94px solid transparent;
            }

            .solutions__list::before {
                bottom: 100%;
                border-bottom: 54px solid #0D25FF;
            }

            .solutions__list::after {
                top: 100%;
                border-top: 54px solid #0D25FF;
            }

            .solutions__item {
                width: fit-content;
                margin-left: auto;
                margin-right: auto;
                margin-top: 23px;
            }

            .solutions__item:first-child {
                margin-top: 0;
            }


            .solutions__item:nth-child(1),
            .solutions__item:nth-child(2),
            .solutions__item:nth-child(3) {
                position: static;
            }

        .solutions__sub-section {
            margin-top: 70px;
        }
            .solutions__sub-head {
                display: block;
                /*flex-direction: column;*/
            }
                .solutions__sub-heading {
                    margin-top: 0;
                    /*margin-bottom: 0;*/
                    /*max-width: 700px;*/
                    /*margin-left: auto;*/
                    /*margin-right: auto;*/
                    /*font-weight: 600;*/
                    font-size: 30px;
                    line-height: 37px;
                    color: #0D25FF;
                    /*text-align: center;*/
                }

                .solutions__sub-description {
                    /*order: -1;*/
                    /*max-width: 880px;*/
                    /*margin-left: auto;*/
                    /*margin-right: auto;*/
                    margin-top: 27px;
                    font-size: 17px;
                    line-height: 24px;
                    /*text-align: center;*/
                }

            .solutions__sub-list {
                margin-top: 42px;
                padding-top: 0;
                padding-bottom: 47px;
                display: block;
                background-image: none;
                /*grid-template-columns: repeat(2, 372px);*/
                /*justify-content: center;*/
                /*gap: 41px;*/
                /*background-image: url("../vectors/solutions-additional-skeleton.svg"), linear-gradient(#FFFFFF, #FFFFFF 20%, #0099FF);*/
                /*background-size: 1488px 921px, auto auto;*/
                /*background-repeat: no-repeat;*/
                /*background-position: center top;*/
            }
                .solutions__sub-item {
                    width: fit-content;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 38px;
                }

                .solutions__sub-item:first-child {
                    margin-top: 0;
                }
}



